$base-color: #fd7f20;
$highlight-color: #f55863;
$notification-color: #825896;

$menu-submenu-focus-text: #F3F3E0;
$menu-bubble-text: #F3F3E0;
$menu-bubble-current-text: #F3F3E0;

$menu-bubble-current-background: #825896;

$button-color: #f55863;
$button-text-color: #F3F3E0;

$link: #825896;
$link-focus: darken($link, 10%);
