$base-color: #1D2B53;
$highlight-color: #7E2553;
$notification-color: #FAEF5D;

$menu-submenu-focus-text: #FFF;
$menu-bubble-text: #1D2B53;
$menu-bubble-current-text: #1D2B53;

$menu-bubble-current-background: $notification-color;

$button-color: #FF004D;
$button-text-color: #FFF;

$link: #1D2B53;
$link-focus: darken($link, 10%);
