$base-color: #133E87;
$highlight-color: #47a9ff;
$notification-color: #47a9ff;

$menu-submenu-focus-text: #F3F3E0;
$menu-bubble-text: #F3F3E0;
$menu-bubble-current-text: #F3F3E0;

$menu-bubble-current-background: #133E87;

$button-color: #133E87;
$button-text-color: #FFFBE6;

$link: #133E87;
$link-focus: darken($link, 10%);
