$base-color: #C8AE7D;
$highlight-color: #765827;
$notification-color: #65451F;

$menu-submenu-focus-text: #EAC696;

$menu-bubble-current-background: $notification-color;

$button-color: #765827;
$button-text-color: #fff;

$link: $button-color;
$link-focus: darken($link, 10%);
