$base-color: #347928;
$highlight-color: #8dc96a;
$notification-color: #FCCD2A;

$menu-submenu-focus-text: #FFFBE6;
$menu-bubble-text: #FFFBE6;
$menu-bubble-current-text: #FFFBE6;

$menu-bubble-current-background: $notification-color;

$button-color: #347928;
$button-text-color: #FFFBE6;

$link: #347928;
$link-focus: darken($link, 10%);
