$base-color: #37B48B;
$highlight-color: #FF4242;
$notification-color: #FF4242;

$menu-submenu-focus-text: #F9E6DC;
$menu-bubble-text: #F9E6DC;
$menu-bubble-current-text: #F9E6DC;

$menu-bubble-current-background: #37B48B;

$button-color: #FCDD4E;
$button-text-color: #FF4242;

$link: #37B48B;
$link-focus: darken($link, 10%);
