$base-color: #A67C00;
$highlight-color: #BF9B30;
$notification-color: #FFCF40;

$menu-submenu-focus-text: #FFF;
$menu-bubble-text: #A67C00;
$menu-bubble-current-text: #A67C00;

$menu-bubble-current-background: $notification-color;

$button-color: #BF9B30;
$button-text-color: #FFF;

$link: #A67C00;
$link-focus: darken($link, 10%);
