$base-color: #365486;
$highlight-color: #7FC7D9;
$notification-color: #7FC7D9;

$menu-submenu-focus-text: #D1E9EA;

$menu-bubble-current-background: $notification-color;

$button-color: #0F1035;
$button-text-color: #D1E9EA;

$link: $button-color;
$link-focus: darken($link, 10%);
