$base-color: #7a871e;
$highlight-color: #7f6b4d;
$notification-color: #98c0c5;

$menu-submenu-focus-text: #F3F3E0;
$menu-bubble-text: #F3F3E0;
$menu-bubble-current-text: #F3F3E0;

$menu-bubble-current-background: #98c0c5;

$button-color: #7f6b4d;
$button-text-color: #F3F3E0;

$link: #7f6b4d;
$link-focus: darken($link, 10%);
