$base-color: #0A7029;
$highlight-color: #C8DF52;
$notification-color: #DBE8D8;

$menu-submenu-focus-text: #D1E9EA;
$menu-bubble-text: #0A7029;
$menu-bubble-current-text: #0A7029;

$menu-bubble-current-background: $notification-color;

$button-color: #C8DF52;
$button-text-color: #0A7029;

$link: #0A7029;
$link-focus: darken($link, 10%);
