$base-color: #AA96DA;
$highlight-color: #A8D8EA;
$notification-color: #FFFFD2;

$menu-submenu-focus-text: #D1E9EA;
$menu-bubble-text: #AA96DA;
$menu-bubble-current-text: #AA96DA;

$menu-bubble-current-background: $notification-color;

$button-color: #FCBAD3;
$button-text-color: #FFF;

$link: #AA96DA;
$link-focus: darken($link, 20%);
