$base-color: #F54D3D;
$highlight-color: #F0A160;
$notification-color: #F0CCB0;

$menu-submenu-focus-text: #FFF;
$menu-bubble-text: #B97D60;
$menu-bubble-current-text: #B97D60;

$menu-bubble-current-background: $notification-color;

$button-color: #F54D3D;
$button-text-color: #FFF;

$link: #B97D60;
$link-focus: darken($link, 10%);
