$base-color: #4B3832;
$highlight-color: #854442;
$notification-color: #BE9B7B;

$menu-submenu-focus-text: #fff4E6;
$menu-bubble-text: #fff4E6;
$menu-bubble-current-text: #fff4E6;

$menu-bubble-current-background: $notification-color;

$button-color: #854442;
$button-text-color: #fff4E6;

$link: #4B3832;
$link-focus: darken($link, 10%);
