$base-color: #26355D;
$highlight-color: #AF47D2;
$notification-color: #FFDB00;

$menu-submenu-focus-text: #D1E9EA;
$menu-bubble-text: #26355D;
$menu-bubble-current-text: #26355D;

$menu-bubble-current-background: $notification-color;

$button-color: #FF8F00;
$button-text-color: #FFF;

$link: #26355D;
$link-focus: darken($link, 20%);
